h1 {
    color: rgb(0, 112, 210);
}
p {
    font-family: 'Salesforce Sans', Arial, sans-serif;
    color: rgb(62, 62, 60);
}
.app {
    background-color: #fafaf9;
    height: 95vh;
}

.game {
    width: 13rem;
    margin: auto;
    display: grid;
    grid-template-columns: 4rem 4rem 4rem;
    column-gap: 10px;
    row-gap: 10px;
}

.timer {
    width: 13rem;
    margin: auto;
}

.heading {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.controls {
    width: 13rem;
    margin: auto;
    text-align: center;
}
